{% extends 'layout.html' %}

{% block content %}
    {{ form.hidden_tag() }}
    <div class="contenedor">
        <form method="post" action="">
            {{ form.hidden_tag() }}
    
            <legend class="title-form">Iniciar Sesion</legend>
    
            <div class="form-section">
                {{ form.email.label(class = 'titulo') }}
    
                {% if form.email.errors %}
                {{ form.email(class = 'btn-form is-invalid') }}
                <div class="invalid-feedback">
                    {%for error in form.email.errors%}
                        <span>{{ error }}</span>
                    {%endfor%}
                </div>    
                {%else%}
                {{ form.email(class = 'btn-form is-invalid') }}
                {%endif%}
            </div>
    
            <div class="form-section">
                {{ form.password.label(class = 'titulo') }}
    
                {% if form.password.errors %}
                {{ form.password(class = 'btn-form is-invalid') }}
                <div class="invalid-feedback">
                    {%for error in form.password.errors%}
                        <span>{{ error }}</span>
                    {%endfor%}
                </div>    
                {%else%}
                {{ form.password(class = 'btn-form is-invalid') }}
                {%endif%}
            </div>
            <div class="forgot"><a href="{{ url_for('forgot')}}">¿Olvidaste la contraseña?</a></div>
    
            <div class="form-section-remember-me">
                {{ form.rememberme.label(class = 'titulo') }}
                {{ form.rememberme(class = 'btn-form') }}
            </div>
    
            <div class="form-section">
                {{ form.submit(class = 'submit-form') }}
            </div>
    
        </form>
        <div class="link">
            <p>¿No tienes una cuenta?<a href="{{ url_for('registro') }}"> Registrate</a></p>
        </div>
    </div>
{% endblock content %}