{% extends 'layout.html' %}

{% block content %}
{{ form.hidden_tag() }}
    <div class="contenedor">
        <form method="post" action="">
            {{ form.hidden_tag() }}
    
            <legend class="title-form">Join Today</legend>
    
            <div class="form-section">
                {{ form.nombre_user.label(class = 'titulo') }}
    
                {% if form.nombre_user.errors %}
                    {{ form.nombre_user(class = 'btn-form is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.nombre_user.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.nombre_user(class = 'btn-form is-invalid') }}
                {% endif%}
    
            </div>
    
            <div class="form-section">
                {{ form.email.label(class = 'titulo') }}
    
                {% if form.email.errors %}
                    {{ form.email(class = 'btn-form is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.email(class = 'btn-form is-invalid') }}
                {% endif%}
            </div>
    
            <div class="form-section">
                {{ form.password.label(class = 'titulo') }}
    
                {% if form.password.errors %}
                    {{ form.password(class = 'btn-form is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.password(class = 'btn-form is-invalid') }}
                {% endif%}
            </div>
    
            <div class="form-section">
                {{ form.comfir_password.label(class = 'titulo') }}
    
                {% if form.comfir_password.errors %}
                    {{ form.comfir_password(class = 'btn-form is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.comfir_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.comfir_password(class = 'btn-form is-invalid') }}
                {% endif%}
            </div>
    
            <div class="form-section">
                {{ form.submit(class = 'submit-form') }}
            </div>
    
        </form>
        <div class="link">
            <p>¿Ya tienes una cuenta?<a href="{{ url_for('login') }}"> Inicia Sesión</a></p>
        </div>
    </div>
{% endblock content %}